%h1 Hola trello
%button{'ng-click' => 'getBoards()'} Get Boards
%ol
  %li{'ng-repeat' => 'board in boards'}
    %a{'href' => '{{board.url}}', 'target' => "_blank"}
      {{board.name}}
    %button{'ng-click' => 'getCards(board.id)'} Get Cards

%h3{'ng-if' => 'members.length > 0'}
  Members
%ol
  %li{'ng-repeat' => 'member in members'}
    %span{'ng-class' => 'member.id === memberSelected.id ? "active" : "a"'}
      {{member.fullName}} - {{member.username}}
    %button{'ng-click' => 'setMember(member)'} SetMember

%h3{'ng-if' => 'lists.length > 0'}
  Lists
%ol
  %li{'ng-repeat' => 'list in lists'}
    %span{'ng-class' => 'list.id === listSelected.id ? "active" : "a"'}
      {{list.name}}
    %button{'ng-click' => 'setList(list)'} SetList

%h3{'ng-if' => 'cards.length > 0'}
  Cards
%ul
  %li{'ng-repeat' => 'card in cards| orderBy:"+dateLastActivity"'}
    {{card.name}}