%nav
  .logo
    %span.name TrelloReport
    %span . By NoFearCode
  .options{'ng-if' => 'token === ""'}
    %span Make sure the popup is enabled in the browser at the top of the page
    %button.large{'ng-click' => "loginTrello()"} Login in Trello
  .options{'ng-if' => 'token !== ""'}
    %button.large{'ng-click' => 'getOrganizations()'} Get Organizations
    %button.large{'ng-click' => 'getAllBoards()'} No organizations? Get Boards where i'm a member
.main
  %article.normal{'ng-if' => 'organizations.length > 0'}
    %h3
      Organizations
    %ul
      %li{'ng-repeat' => 'organization in organizations', 'ng-click' => 'getBoards(organization)', 'ng-class' => 'organization.id === organizationSelected.id ? "active" : "a"'}
        %span
          {{organization.name}}
  %article.normal{'ng-if' => 'boards.length > 0'}
    %h3
      Boards
    %ul
      %li{'ng-repeat' => 'board in boards', 'ng-click' => 'getCards(board)', 'ng-class' => 'board.id === boardSelected.id ? "active" : "a"'}
        %span
          {{board.name}}
  %article.normal.filters{'ng-if' => 'members.length > 0 && lists.length > 0'}
    .left
      %h3
        Members
      .dropdown{'ng-mouseover' => 'scroll($event)'}
        .element
          %span{'ng-if' => 'memberSelected === ""'}
            Member to filter
          %span{'ng-if' => 'memberSelected !== ""'}
            {{memberSelected.fullName}}
          %i.fa.fa-arrow-down   
        .content
          .element{'ng-repeat' => 'member in members', 'ng-click' => 'setMember(member)'} 
            {{member.fullName}} - {{member.username}}
    .right
      %h3
        Lists
      .dropdown{'ng-mouseover' => 'scroll($event)'}
        .element
          %span{'ng-if' => 'listSelected === ""'}
            List to filter
          %span{'ng-if' => 'listSelected !== ""'}
            {{listSelected.name}}
          %i.fa.fa-arrow-down   
        .content
          .element{'ng-repeat' => 'list in lists', 'ng-click' => 'setList(list)'} 
            {{list.name}}
  %article.cards{'ng-if' => 'boardSelected !== ""'}
    %h3{'ng-if' => 'cards.length === 0 && boardSelected !== ""'}
      There aren't cards in this board (or filter).
    %h3{'ng-if' => 'cards.length > 0'}
      Cards
    %ul
      %li{'ng-repeat' => 'card in cards| orderBy:"+dateLastActivity"'}
        {{card.name}}