%nav
  .logo
    %span.name TrelloReport
    %span - By NoFearCode
  .options{'ng-if' => 'token === ""'}
    %span Make sure the popup is enabled in the browser at the top of the page
    %button.large{'ng-click' => "loginTrello()"} Login in Trello
  .options{'ng-if' => 'token !== ""'}
    %button.large{'ng-click' => 'getOrganizations()'} Get Organizations
    %button.large{'ng-click' => 'getAllBoards()'} No organizations? Get Boards where i'm a member
.main
  %h3{'ng-if' => 'organizations.length > 0'}
    Organizations
  %ol
    %li{'ng-repeat' => 'organization in organizations'}
      %a{'href' => '{{organization.url}}', 'target' => "_blank"}
        {{organization.name}}
      %button.small{'ng-click' => 'getBoards(organization.id)'} Get Boards

  %h3{'ng-if' => 'boards.length > 0'}
    Boards
  %ol
    %li{'ng-repeat' => 'board in boards'}
      %a{'href' => '{{board.url}}', 'target' => "_blank"}
        {{board.name}}
      %button.small{'ng-click' => 'getCards(board.id)'} Get Cards

  %h3{'ng-if' => 'members.length > 0'}
    Members
  %ol
    %li{'ng-repeat' => 'member in members'}
      %span{'ng-class' => 'member.id === memberSelected.id ? "active" : "a"'}
        {{member.fullName}} - {{member.username}}
      %button.small{'ng-click' => 'setMember(member)'} SetMember

  %h3{'ng-if' => 'lists.length > 0'}
    Lists
  %ol
    %li{'ng-repeat' => 'list in lists'}
      %span{'ng-class' => 'list.id === listSelected.id ? "active" : "a"'}
        {{list.name}}
      %button.small{'ng-click' => 'setList(list)'} SetList

  %h3{'ng-if' => 'cards.length > 0'}
    Cards
  %ul
    %li{'ng-repeat' => 'card in cards| orderBy:"+dateLastActivity"'}
      {{card.name}}