<!DOCTYPE html>
<html>
<head>
  <title>TrelloReport - By NoFearCode</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="https://api.trello.com/1/client.js?key=28d1e5f62a4049c216bee203b0fcd1c2"></script>
  <script src="https://use.fontawesome.com/d1cc00add4.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body ng-app="myApp">
  <div ui-view>Cargando...</div>
</body>
</html>
